<ion-header no-border>
    <ion-navbar color="header"> <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
        <ion-title text-center>{{"Edit Address" | translate}} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="edit-address-form">
    <div>
        <ion-list class="Address-form">
            <ion-item class="billing-header">
                <h2 class="heading-label">{{"Billing Address" | translate}} </h2>
            </ion-item>
            <ion-label>{{"First Name" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.billing.first_name" name="first_name"> </ion-input>
            <ion-label>{{"Last Name"| translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.billing.last_name" name="last_name"> </ion-input>
            <ion-label>{{"Phone" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.billing.phone" name="phone"> </ion-input>
            <ion-label>{{"Email" | translate}} </ion-label>
            <ion-input required type="email" [(ngModel)]="editAddress.billing.email" name="email"> </ion-input>
            <ion-label>{{"Street Address" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.billing.address_1" name="address_1"> </ion-input>
            <ion-label>{{"Landmark" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.billing.address_2" name="address_2"> </ion-input>
            <ion-label>{{"City" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.billing.city" name="city"> </ion-input>
            <ion-label>{{"Postcode" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.billing.postcode" name="postcode"> </ion-input>
            <ion-item *ngIf="country" class="select-item-field">
                <ion-label> {{"Country" | translate}} </ion-label>
                <ion-select [(ngModel)]="editAddress.billing.country" (ngModelChange)="getBillingRegion(editAddress.billing.country)" name="country">
                    <div *ngFor="let field of country.country.countries | keys">
                        <ion-option value="{{field.key}}"><span [innerHTML]="field.value"></span> </ion-option>
                    </div>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="billing_states" style="margin-top:20px" class="select-item-field">
                <ion-label> {{"State" | translate}} </ion-label>
                <ion-select [(ngModel)]="editAddress.billing.state" name="state">
                    <div *ngFor="let field of billing_states | keys">
                        <ion-option value="{{field.key}}">{{field.value}} </ion-option>
                    </div>
                </ion-select>
            </ion-item>
            <div *ngIf="!billing_states">
                <ion-label>{{"State" | translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="editAddress.billing.state" name="state"> </ion-input>
            </div>
        </ion-list>
    </div>
    <div class="same-for-shipping">
        <ion-item class="side-heading-background">
            <ion-label class="heading-label">{{"Same For Shipping" | translate}} </ion-label>
            <ion-toggle checked="true" [(ngModel)]="editAddress.shipping_true" name="subscribe"> </ion-toggle>
        </ion-item>
    </div>
    <div *ngIf="!editAddress.shipping_true">
        <ion-list class="Address-form" style="margin-top: -10px;">
            <ion-item class="billing-header">
                <h2 class="heading-label">{{"Shipping Address" | translate}} </h2>
            </ion-item>
            <ion-label>{{"First Name" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.shipping.first_name" name="firstname"> </ion-input>
            <ion-label>{{"Last Name"| translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.shipping.last_name" name="last_name"> </ion-input>
            <ion-label>{{"Street Address" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.shipping.address_1" name="address_1"> </ion-input>
            <ion-label>{{"Landmark" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.shipping.address_2" name="address_2"> </ion-input>
            <ion-label>{{"City" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.shipping.city" name="city"> </ion-input>
            <ion-label>{{"Postcode" | translate}} </ion-label>
            <ion-input required type="text" [(ngModel)]="editAddress.shipping.postcode" name="postcode"> </ion-input>
            <ion-item *ngIf="country" class="select-item-field">
                <ion-label> {{"Country" | translate}} </ion-label>
                <ion-select [(ngModel)]="editAddress.shipping.country" (ngModelChange)="getShippingRegion(editAddress.shipping.country)" name="country">
                    <div *ngFor="let field of country.country.countries | keys">
                        <ion-option value="{{field.key}}"><span [innerHTML]="field.value"></span> </ion-option>
                    </div>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="shipping_states" style="margin-top:20px" class="select-item-field">
                <ion-label> {{"State" | translate}} </ion-label>
                <ion-select [(ngModel)]="editAddress.shipping.state" name="state">
                    <div *ngFor="let field of shipping_states | keys">
                        <ion-option value="{{field.key}}">{{field.value}} </ion-option>
                    </div>
                </ion-select>
            </ion-item>
            <div *ngIf="!shipping_states">
                <ion-label>{{"State" | translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="editAddress.shipping.state" name="state"> </ion-input>
            </div>
        </ion-list>
    </div>
    <div class="margin"> <button ion-button block color="button-color" type="submit" [disabled]="disableSubmit" class="button button-block button-default" text-uppercase (click)="saveAddress()">{{Save | translate}}
    </button> </div>
</ion-content>