<ion-header no-border class="filter-header">
    <ion-navbar color="header">
        <ion-buttons left style="padding-left:10px;"> <button clear ion-button (click)="clearAll()">
      {{"Clear" | translate}}
    </button> </ion-buttons>
        <ion-title text-wrap text-center>{{"Filter" | translate}}</ion-title>
        <ion-buttons end> <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" style="color: #fff; font-size: 20px; margin: 16px;"></ion-icon>
      </button> </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content text-wrap class="filter-page">
    <div class="filter">
        <ion-spinner *ngIf="!values.attributes" name="ios-small"> </ion-spinner>
        <div class="price-filter" *ngIf="values.attributes">
            <ion-item class="price-range">
                <ion-label text-uppercase>{{"Price"| translate}} </ion-label>
                <ion-input required type="text" [(ngModel)]="values.price.lower"> </ion-input>
                <ion-input required type="text" [(ngModel)]="values.price.upper"> </ion-input>
            </ion-item>
            <ion-item>
                <ion-range dualKnobs="true" pin="true" min="1" max="{{values.max_price}}" [(ngModel)]="values.price" color="dark">
                    <ion-label range-left>1</ion-label>
                    <ion-label range-right>{{values.max_price}}</ion-label>
                </ion-range>
            </ion-item>
        </div>
        <div class="attributes" *ngIf="values.attributes">
            <ion-grid *ngIf="values.attributes.length">
                <ion-row style="border: 4px solid #f8f8f8;">
                    <ion-col width-40 class="col-left">
                        <div *ngFor="let filterType of values.attributes" class="tab-left-item" [class.active]="filterType.selected"> <button style="margin: 0px;" ion-button clear full color="dark" (click)="chooseTab(filterType)">{{filterType.name}}</button> </div>
                    </ion-col>
                    <ion-col width-60 class="col-right">
                        <ion-spinner *ngIf="!attributeTerms[values?.selectedFilter?.id]" name="ios-small"> </ion-spinner>
                        <ion-list no-margin text-wrap radio-group [(ngModel)]="values.filter.attribute_term">
                            <ion-item *ngFor="let val of attributeTerms[values?.selectedFilter?.id]">
                                <ion-label> {{val.name}} </ion-label>
                                <ion-radio value="{{val.id}}"> </ion-radio>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
<ion-footer *ngIf="values.attributes"> <button ion-button full text-uppercase style="background-color: #3b3b3b;height:40px;margin:0" (click)="applyFilter()"> {{"Apply" | translate}} </button> </ion-footer>