<ion-header no-border>
    <ion-navbar color="header"> <button ion-button menuToggle>
      <ion-icon name="menu">
      </ion-icon>
    </button>
        <ion-title text-center style="margin-right:35px"> {{"Last Orders" | translate}} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-wrap class="account-order">
    <ion-spinner *ngIf="!orders" name="crescent"> </ion-spinner>
    <div *ngIf="orders">
        <div class="no-orders" *ngIf="orders.length == 0">
            <h4 text-center no-lines>
                <ion-icon name="logo-buffer"></ion-icon> <button ion-button full clear>{{"There are no orders" | translate}}.
      </button> </h4>
        </div>
        <div *ngIf="orders.length">
            <div *ngFor="let item of orders" class="order-box">
                <ion-item>
                    <div class="row-line">
                        <ion-row>
                            <ion-col>
                                <h2> {{"Order ID" | translate}} </h2>
                            </ion-col>
                            <ion-col>
                                <h2> {{item.number}} </h2>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <h2> {{"Date" | translate}} </h2>
                            </ion-col>
                            <ion-col>
                                <h2> {{item.date_created | date: 'dd/MM/yyyy'}} </h2>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <h2> {{"Price" | translate}} </h2>
                            </ion-col>
                            <ion-col>
                                <h2> {{1*item.total}} </h2>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <h2> {{"Status" | translate}} </h2>
                            </ion-col>
                            <ion-col>
                                <h2 style="color: green" text-capitalize *ngIf="item.status == 'processing' || item.status == 'completed' || item.status == 'refunded'"> {{item.status}} </h2>
                                <h2 style="color: red" text-capitalize *ngIf="item.status == 'cancelled' || item.status == 'failed'"> {{item.status}} </h2>
                                <h2 style="color: #c3ad00" text-capitalize *ngIf="item.status == 'on-hold' || item.status == 'pending'"> {{item.status}} </h2>
                            </ion-col>
                        </ion-row>
                    </div>
                    <ion-row class="row-buttons">
                        <ion-col no-padding width-50> <button ion-button icon-left clear no-margin color="button-color" small text-uppercase icon-only class="has-icon icon-only" (click)="getOrderDetails(item.id)">
              <ion-icon name="ios-eye">
              </ion-icon>
              {{"View Details" | translate}} 
            </button> </ion-col>
                        <ion-col no-padding width-50> <button *ngIf="item.status == 'pending'" text-center ion-button icon-left clear no-margin color="button-color" icon-only class="has-icon icon-only" small text-uppercase (click)="cancelOrder(item.id)">    
              <ion-icon ios="ios-close" md="md-close">
              </ion-icon>     
              {{"Cancel" | translate}} 
            </button> <button *ngIf="item.status == 'cancelled'" text-center ion-button icon-left clear no-margin color="button-color" icon-only class="has-icon icon-only" small text-uppercase (click)="reOrder(item.id)">
              <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle">
              </ion-icon>         
              {{"Reorder" | translate}} 
            </button> </ion-col>
                    </ion-row>
                </ion-item>
            </div>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="has_more_items">
                <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="{{'Loading more items..' | translate}}"> </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>