.account-address {
    font-family: Arial;
    .item {
        padding: 16px 0 0;
    }
    .address {
        h2 {
            margin: 5px 0 5px 16px;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.4;
        }
        h1 {
            margin: 5px 0 12px 16px;
            font-size: 19px;
            color: $side-heading-color;
            font-weight: 500;
        }
    }
    .label {
        margin: 0;
        margin-bottom: 5px;
    }
    .item.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #f1eff7;
    }
    .button {
        margin: 0;
        padding: 0 1em;
        height: 2.5em;
        border-radius: 0;
        font-size: 1.6rem;
    }
    .margin {
        margin: 20px;
    }
    .address-border {
        margin: 20px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    }
}
.address-header {
    .toolbar-title-md {
        padding-right: 60px;
    }
}